<h1>Camp Sessions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Season</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @camp_sessions.each do |session| %>
    <tr>
      <td><%= session.number %></td>
      <td><%= session.start_date %></td>
      <td><%= session.end_date %></td>
      <td><%= session.camp_season.year %></td>
      <td><%= link_to "Cabin Doc", [session, :cabin_assignments] %></td>
      <td><%= link_to "Departure Doc", camp_session_departers_path(session) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Camp Session', new_camp_session_path, :class => "new-camp-session blue-button button" %>


<div id='calendar'></div>


<br /><Br />
