<h1>Camp Sessions</h1>

<%= link_to 'New Camp Session', new_camp_session_path %>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Season</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @camp_sessions.each do |session| %>
    <tr>
      <td><%= session.number %></td>
      <td><%= session.start_date %></td>
      <td><%= session.end_date %></td>
      <td><%= session.camp_season.year %></td>
      <td><%= link_to "Cabin Doc", [session, :cabin_assignments] %></td>
      <td><%= link_to "Departure Doc", camp_session_departers_path(session) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
