<h1>Departure Doc</h1>

<table class="table">
  <thead>
    <tr>
      <th>Bus</th>
      <th>Check-In Location</th>
      <th>Gender</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Insurance</th>
      <th>Shots</th>
      <th>Signature</th>
      <th>SFSP</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @departers.each do |departer| %>
      <tr>
        <% if departer.bus_check_box_applies %>
          <td><div class="checkbox"></div></td>
        <% else %>
          <td>N/A</td>
        <% end %>
        <td><%= departer.camp_check_in_location %></td>
        <td><%= departer.gender %></td>
        <td><%= departer.last_name %></td>
        <td><%= departer.first_name %></td>
        <td></td>
        <td><%= departer.immunization_up_to_date ? "" : "Needed" %></td>
        <td><%= departer.parent_has_signed ? "" : "Needed" %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
