<%= form_for @camp_season do |f| %>
  <%= render partial: 'common/errors', locals: {record: @camp_season} %>

  <%= f.label :year %>
  <%= f.text_field :year %>

  <div class="button-holder"><%= f.submit %></div>
<% end %>

