<h1>Camper Registrations</h1>

<%= link_to 'New Camper Registration', new_camper_registration_path %>

<%= form_tag camper_registrations_path, method: :get do %>
<%= label_tag :camp_season, 'Season' %>
<%= select_tag :camp_season, options_from_collection_for_select(CampSeason.all, :year, :year, params[:camp_season]) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sessions</th>
      <th>Season</th>
    </tr>
  </thead>
  <tbody>
    <% @camper_registrations.each do |camper| %>
    <tr>
      <td><%= link_to "#{camper.last_name}, #{camper.first_name}", camper_registration_path(camper) %></td>
      <td><%= camper.camp_sessions.map(&:number).join(', ') %></td>
      <td><%= camper.season_year %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @camper_registrations %>
