<h1>Cabin Assignments for <%= @camp_season.year %> Session <%= @camp_session.number %></h1>

<% @camp_session.cabins.uniq.each do |cabin| %>

<div id="cabin_<%= cabin.id %>" class="cabin">
  <h2 class="cabin-name"><%= cabin.name %></h2>
  <table>
    <% CamperSession.kids(@camp_session, cabin).each do |cs| %>
    <tr id="kid_<%= cs.camper_registration.id %>" class="kid">
      <td class="name"><%= cs.camper_registration.first_name %></td>
      <td class="sex"><%= cs.camper_registration.gender %></td>
      <td class="age"><%= cs.camper_registration.age_at_start_of_camp %></td>
      <td class="move"></td>
    </tr>
    <% end %>
  </table>
</div>

<% end %>
