<nav class="">
  <div class="container">
    <ul>
      <li><%= link_to 'Registration', camper_registrations_path %></li>
      <li><%= link_to 'Cabins', cabins_path %></li>
      <li><%= link_to 'Sessions', camp_sessions_path %></li>
      <li><%= link_to 'Seasons', camp_seasons_path %></li>
      <li><%= link_to 'Users', users_path %></li>

      <div style="float: right;">
        <% if current_user %>
          <li><%= link_to current_user.email, edit_user_path(current_user) %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </div>
    </ul>
  </div>
</nav>