<!DOCTYPE html>
<html>
  <head>
    <title>Camp Keeper | Camp Blodgett</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/pix2byo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="<%= yield :section %>">
    <%= render 'layouts/nav' %>

    <div class="container" id="main">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

    <footer>
      <div class="container">
      </div>
    </footer>

  </body>
</html>
